# Server-side secrets
STRIPE_SECRET_KEY=
API_BASE_URL=

# Client-side env (must start with NEXT_PUBLIC_)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_SITE_URL=https://piggyway.com.au

# Optional
# PORT=3000
